*{
    border: gray 1px solid;
}
nav a{
    text-decoration:none;
    color:white;
    font-family:'Roboto Mono', monospace;
}
nav{
    text-align:center;
    font-size:1rem;
}
button.plan{
    background-color:#FF764E;
    margin:2%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:1.5%;
    padding-right:1.5%;
    border-radius:10px;
}
button.learn{
    background-color:#5ED3EB;
    margin:2%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:1%;
    padding-right:1%;
    border-radius:10px;
}
button.workforus{
    background-color:#FFCD69;
    margin:2%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
}
img.sunrise{
    display:inline-block;
    height:20vh;
    border-radius:200px;
    vertical-align:baseline;
}
section.park-guide{
    text-align:center;
}
h1{
    font-family:'Chelsea Market', cursive;
    font-size:2.5rem;
    display:inline-block;
    vertical-align:baseline;
}
section.park-guide p{
    font-family:'Roboto Mono', monospace;
    font-size:1rem;
    padding:0;
    width:50%;
    margin:0 auto;
    padding-bottom:20px;
}
section.section-one{
    background-color:#DDB9A3;
    color:white;
    font-family:'Roboto Mono', monospace;
    width:54%;
    margin:0 auto;
    padding-top:0%;
    padding-bottom:0%;
    padding-left:1%;
    padding-right:1%;
    margin-top:20px;
}
section.section-one p{
    text-align:center;
}
img.campfire-icon{
    height:90px;
}
div.campfire-icon{
    text-align:center;
}
div.campfire-icon p{
    width:20%;
    margin: auto 0;
    vertical-align:baseline;
    padding-bottom:30px;
}
img.camper-icon{
    height:90px;
}
div.camper-icon{
    text-align:center;
}
div.camper-icon p{
    width:20%;
    margin: auto 0;
    vertical-align:baseline;
    padding-bottom:30px;
}