*{
    border: gray 1px solid;
}
div.box{
    width:60%;
    margin:auto;
    padding:0;
}
nav a{
    text-decoration:none;
    color:white;
    font-family:'Roboto Mono', monospace;
}
nav{
    text-align:center;
    font-size:1rem;
}
button.plan{
    background-color:#FF764E;
    padding:0.5%;
    padding-left:1.8%;
    padding-right:1.8%;
    margin:1.5%;
    margin-right:6%;
    border-radius:10px;
    border:none;
}
button.learn{
    background-color:#5ED3EB;
    padding:0.5%;
    padding-left:1.5%;
    padding-right:1.5%;
    margin:1.5%;
    margin-left:3%;
    margin-right:6%;
    border-radius:10px;
    border:none;
}
button.getinvolved{
    background-color:#FFCD69;
    padding:0.5%;
    padding-left:2.5%;
    padding-right:2.5%;
    margin:1.5%;
    margin-left:3%;
    border-radius:10px;
    border:none;
}
div.sunrise{
    width:20%;
    margin-right:4%;
    display:inline-block;
}
img.sunrise{
    display:inline-block;
    height:18vh;
    border-radius:50%;
    vertical-align:baseline;
    margin-right:9%;
    margin-top:2%;
}
section.header-p{
    width:38%;
    display:inline-block;
    text-align:center;
}
div.park-guide{
    text-align:center;
}
h1{
    font-family:'Chelsea Market', cursive;
    font-size:2.5rem;
    display:inline-block;
    vertical-align:baseline;
    color:black;
    margin-bottom:2%;
    margin-right:0;
}
div.park-guide p{
    font-family:'Roboto Mono', monospace;
    font-size:0.8rem;
    padding-bottom:1%;
    color:black;

}
section.section-one{
    background-color:#DDB9A3;
    color:white;
    font-family:'Roboto Mono', monospace;
    width:70%;
    margin:0 auto;
    padding-top:0.3%;
    padding-bottom:0.3%;
    padding-left:1%;
    padding-right:1%;
    margin-top:1%;
    text-align:center;
}
img.campfire-icon{
    max-height:7vh;
    max-width:7vw;
    padding-top:1%;
    padding-bottom:0.5%;
}
div.campfire-icon{
    text-align:center;
    width:72%;
    margin:auto;
}
div.campfire-icon p{
    width:30%;
    margin:auto;
    vertical-align:baseline;
    padding-bottom:3%;
    color:black;
    margin-bottom:1%;
    font-size: 0.8rem;
    line-height:98%;
    font-family:'Roboto Mono', monospace;
}
img.camper-icon{
    max-height:7vh;
    max-width:7vw;
}
div.camper-icon{
    text-align:center;
    width:72%;
    margin:auto;
}
div.camper-icon p{
    width:30%;
    margin:auto;
    vertical-align:baseline;
    padding-bottom:3%;
    color:black;
    font-size: 0.8rem;
    line-height:98%;
    font-family:'Roboto Mono', monospace;
}
img.sunsetimg{
    max-width:100%;
    height:auto;
}
div.sunsetimg{
    overflow:hidden;
    max-height:10vh;

}
footer{
    background-color:#F9E7DC;
    width:80%;
    margin:auto;
}
